.nav-container{
    background-color: #0b1224;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.nav-bar{
    display: flex;
    grid-column-gap: 50px;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    padding-right: 50px;
   
}
.active{
    text-decoration: none;
    color: white;
    font-weight: 600;
    
}